TELEGRAM_BOT_TOKEN=
OWNER_CHAT_ID=
ALLOWED_CHAT_IDS=
GOOGLE_SHEETS_ID=1X1Z9T9QUxNY0faFyqjQeJDgwNjFHuh4lRkZDnnbyLDM
GOOGLE_APPLICATION_CREDENTIALS=/root/lagonaki-bot/service-account.json
NODE_ENV=production
